html
{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: "Open Sans",arial,verdana,tahoma,sans-serif;
	font-size: 100%
}

body
{
	background-color: rgb(228, 228, 228);
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}

/* VERTICAL LINE BREAK INDICATORS */
.vertical-line { background-color: rgb(131, 131, 131); }
#b800 { position: absolute; width: 1px; height: 100%; top: 0px; left: 800px; }
#b600 { position: absolute; width: 1px; height: 100%; top: 0px; left: 600px; }
#b400 { position: absolute; width: 1px; height: 100%; top: 0px; left: 400px; }

/* ELEMENT TO CHANGE ON BREAK */
#banner
{
	border: 1px solid black;
	width: 50px;
	height: 100px;
	background-color: beige;
	margin: 0 auto;
	margin-top: 20px;
	transition: width 0.4s,  background-color 0.4s;
}

#banner.gt800
{
	width: 800px;
	background-color: burlywood;
}

#banner.b600a800
{
	width: 600px;
	background-color: gold;
}

#banner.b400a600
{
	width: 400px;
	background-color: lawngreen;
}

#banner.lt400
{
	width: 200px;
	background-color: green;
}

/* CONDITIONAL ELEMENTS TO SHOW */
#banner > div
{
	text-align: center;
	line-height: 50px;
	display: none;
}

#banner.gt800 > div.gt800
{
	display: block;
}

#banner.b600a800 > div.b600a800
{
	display: block;
}

#banner.b400a600 > div.b400a600
{
	display: block;
}

#banner.lt400 > div.lt400
{
	display: block;
}

/* MENU HORIZONTAL */
header
{
	display: none;
}

header.lt400
{
	display: block;
}

/* DESKTOP MENU */
#desktop-menu ul
{
	padding:0px;
	margin:0px;
	background-color: #3256B3;
	list-style:none;
	line-height: 49px;
}

#desktop-menu ul li { display: inline;}

#desktop-menu ul li a {
	display: inline-block;
	background-color: #3256B3;
	color: #333;
	text-decoration: none;
	border-bottom: 3px solid #3256B3;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

#desktop-menu ul li a:hover {
	background-color: #FFFFFF;
	color: #6D6D6D;
	border-bottom: 3px solid #304579;
	color: #3256B3;
}

/* REGRA PARA OCULTAR MENU */
#desktop-menu.lt400
{
	display: none;
}

/* MOBILE MENU */
/* CONTROL+C CONTROL+V DE http://tableless.com.br/fazendo-um-slide-menu-mobile-sem-plugin ;) */
header
{
	background: #3256B3;
	padding: 0px;
	overflow: hidden;
	padding: 10px;
}

header h1
{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 80%;
	font-size: 1.5em;
}
h1 a {color: #FFF; text-decoration: none;}

header input
{
	float: right;
	padding: 10px;
	width: 200px;
	border: none;
}

.main
{
	padding: 30px;
}
.main p
{
	font-size: .9em;
	line-height: 1.2em;
	margin-bottom: 20px;
}

.menu-anchor
{
	width: 40px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
	background: #FFF;
}

.menu-anchor:before
{
	content: "";
	display: block;
	margin: 7px auto;
	width: 70%;
	height: 0.25em;
	background: #3256B3;
	box-shadow: 0 .45em 0 0 #3256B3, 0 .9em 0 0 #3256B3;
}

.menu-active .menu-anchor {background: #FFFFFF;}

menu
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 220px;
	height: 120%;
	padding: 0px;
	background: #3256B3;
	box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3);
	margin: 0px;
}

menu ul
{
	list-style: none;
	margin-left: -50px;
}

menu li a
{
	display: block;
	border-bottom: 1px solid rgba(255,255,255,.3);
	margin: 0 10px;
	padding: 10px;
	color: #FFF;
	text-decoration: none;
	padding-left: 20px;
}

menu li a:hover
{
	background: #FFF;
	color: #3256B3;
}

menu
{
	-webkit-transform: translateX(-260px);
	-moz-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	transform: translateX(-260px);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

header, .main
{
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

.menu-active menu
{
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.menu-active header, 
.menu-active .main
{
	-webkit-transform: translateX(220px);
	-moz-transform: translateX(220px);
	-ms-transform: translateX(220px);
	transform: translateX(220px);
}

/* MEDIA QUERY */

@media (max-width: 800px)
{
	body
	{
		background-color: blue;
	}
}

@media (max-width: 600px)
{
	body
	{
		background-color: green;
	}
}